<form method="post">
    <input type="text" name="name" id="name" placeholder="Name">
    <input type="submit" value="Add">
</form>
<ul>
    {{#each names}}
        <li>{{this}}</li>
    {{/each}}
</ul>